body {
   
}
.heading{
    font-style:italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    padding:20px;
    color:aliceblue;
}
.main{
    display:flex;
}
.titleimg1{
    width:650px;
    height:400px;
}
.titleimg2 {
    width: 650px;
    height: 400px;
}
.scnd {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 740px;
    background-image: url("Styles/scndpic.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    z-index: -1;
}
.scndmain {
    color: #fff;
    width: 50%;
    margin-left: 140px;
    margin-right:140px;
    padding: 30px;
    background-color: #19161698;
    box-shadow:5px 5px 5px 5px black;
    
}

