@model StudentApp.Models.StudentAdmission
@{
    ViewBag.Title = "Student Admission Page";
}

<main class="container mt-4">
    <h3>Student Admission Page</h3>
    @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input type="text" class="form-control" id="Name" name="Name" size="20" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" class="form-control" id="Email" name="Email" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DateOfBirth">Date of Birth:</label>
                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PhoneNumber">Phone Number:</label>
                    <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Address">Address:</label>
                    <textarea class="form-control" id="Address" name="Address" rows="3" required></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Course">Course:</label>
                    <input type="text" class="form-control" id="Course" name="Course" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="photoUpload">Photo:</label>
                    <input type="file" class="form-control-file" id="photoUpload" name="photoUpload" accept="image/*" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="resumeUpload">Resume:</label>
                    <input type="file" class="form-control-file" id="resumeUpload" name="resumeUpload" accept=".pdf" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div style="color:Blue;font-family:Arial">
            @Html.ActionLink("Back to Student Records", "ShowAllDetails")
        </div>
    }
</main>
