<style>

</style>
<body>
    <div>
        <div>
            <h3>Programming languages</h3>
        </div>
        <div style="display:flex;gap:180px">
            <div>
                <ul>
                    <li> <button class="btn">JavaScript</button></li>
                    <li> <button class="btn">React</button></li>
                    <li> <button class="btn">C++</button></li>
                    <li> <button class="btn">ASP.net with C#</button></li>
                    <li>  <button class="btn">Python</button></li>
                </ul>
            </div>
            <div><ul>
                <li>    <button class="btn">Django</button></li>
                <li>  <button class="btn">Angular</button></li>
                <li> <button class="btn">C</button></li>
                <li>  <button class="btn">SQL</button></li>
                <li>  <button class="btn">Java</button></li>
                </ul>
            </div>
        </div>
        <div >
            <h5 style="font-style:italic"> OUR MISSION</h5>
            At TECHIE WORLD, our mission is to empower aspiring developers with the skills needed to thrive in today’s digital landscape. We believe that anyone can learn to code with the right support and resources.
        </div>
        <div>
            <h5 style="font-style:italic">  OUR STORY</h5>
            Founded in 2024, TECHIE WORLD began with a simple goal: to make high-quality programming education accessible to everyone. Over the years, we've grown from a small coding bootcamp to a leading institution in tech education, constantly evolving to meet the needs of our students.
        </div>
        
        <div>
            <h5 style="font-style:italic"> WHAT WE OFFER</h5>
            We offer a comprehensive range of programming courses, from foundational languages like Python and JavaScript to advanced topics in data science and web development. Our hands-on learning approach ensures that you not only learn but also apply your skills in real-world scenarios.
        </div>
        <div>
            <h5 style="font-style:italic"> MEET OUR TEAM</h5>
            Our team of experienced instructors and mentors is dedicated to your success. With backgrounds in industry-leading companies and a passion for teaching, they are here to guide you every step of the way.
        </div>
        </div>
</body>